<div id="content">

	<!--  start page-heading -->
	<div id="page-heading">
		<h1><%= link_to  "Add Pages", new_admin_page_path, :class => 'button positive' %></h1>
	</div>
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">
			
				
			
				<!--  start message-green -->
				<div id="message-green">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="green-left">Product added sucessfully. <%= link_to  "Add Pages", new_admin_page_path, :class => 'button positive' %></td>
					<td class="green-right"><a class="close-green"><img src="/images/table/icon_close_green.gif"   alt="" /></a></td>
				</tr>
				</table>
				</div>
				<!--  end message-green -->
		
		 
				<!--  start product-table ..................................................................................... -->
				<form id="mainform" action="">
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					
					<th class="table-header-repeat line-left minwidth-1"><a href="javascript:void(0);">Title</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="javascript:void(0);">Description</a></th>
					
					<th class="table-header-options line-left"><a href="javascript:void(0);">Options</a></th>
				</tr>
				<% @pages.each do |page| %>
				<tr>
					
					<td><%= page.title %></td>
					<td><%= truncate(page.description, :length => 110).html_safe %></td>
					
					<td class="options-width">
					<%= link_to "", edit_admin_page_path(page), :class=>'icon-1 info-tooltip', :title=>'Edit' %>
					<a href="/admin/pages/<%= page.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class="icon-2 info-tooltip" title="Delete"></a>
          
					
					</td>
				</tr>
				<% end %>
				</table>
				<!--  end product-table................................... --> 
				</form>
			</div>
			<!--  end content-table  -->
		
			
			
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>