

    <div id="content">

		<% form_for [:admin, @page],:html => { :multipart => true } do |f| %>
		
		  
		  <%- @page.errors.full_messages.each do |message| -%>
		   <div class="errorExplanation"> <p><%= message %></p></div>
		  <%- end -%>
		   
		  
		  <div id="breadcrumb">
		  	   <%= link_to "Pages", admin_pages_path %> &raquo; New
		  </div>
		 
		  <p>
		    <%= f.label :title %>
		    <%= f.text_field :title, :class => 'text' %>
		  </p>
		
		 
		  <p>
		    <%= f.label :description %>
		    <%= f.cktext_area :description,:height=>400, :width=>900 %>
		    
		  </p>
		  <p>
		    <%= f.label :meta_title %>
		    <%= f.text_field :meta_title, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :meta_keyword %>
		    <%= f.text_field :meta_keyword, :class => 'text' %>
		  </p>
		
		  <p>
			<%= f.label :meta_description %>
		    <%= f.text_area :meta_description, :class => 'tiny_mce' %>
			
		  </p>
		  
		  <p class="button">
  	<button class="button positive" type="submit">
		 Save
	</button>
	<%= link_to "Cancel", onclick="javascript:history.back()", :class => 'button negative' %>
    
  </p>
		
		<% end %>


  </div>
  
  
  
  
  


  <!-- start content-outer -->
  <div id="content-outer">
  <!-- start content -->
  <div id="content">


  <div id="page-heading"><h1>Add Pages</h1></div>


  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>
  	<th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
  	<th class="topleft"></th>
  	<td id="tbl-border-top">&nbsp;</td>
  	<th class="topright"></th>
  	<th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
  </tr>
  <tr>
  	<td id="tbl-border-left"></td>
  	<td>
  	<!--  start content-table-inner -->
  	<div id="content-table-inner">

  	<table border="0" width="100%" cellpadding="0" cellspacing="0">
  	<tr valign="top">
  	<td>


  		<!--  start step-holder -->
  		<div id="step-holder">
  			<div class="step-no">1</div>
  			<div class="step-dark-left"><a href="">Add Page</a></div>
  			
  			<div class="clear"></div>
  		</div>
  		<!--  end step-holder -->

  		<!-- start id-form -->
  		<% form_for [:admin, @page],:html => { :multipart => true } do |f| %>
  		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
  		<tr>
  			<th valign="top">Title:</th>
  			<td><%= f.text_field :title, :class => 'inp-form' %></td>
  			<td></td>
		    
  		</tr>
  		
  		<tr>
  			<th valign="top">Description:</th>
  			<td><%= f.cktext_area :description,:height=>400, :width=>900 %></td>
  			<td></td>
  		</tr>
  		
  	<tr>
  		<th valign="top">Description:</th>
  		<td><textarea rows="" cols="" class="form-textarea"></textarea></td>
  		<td></td>
  	</tr>
  	
  	
  	
  	<tr>
  		<th>&nbsp;</th>
  		<td valign="top">
  			<input type="button" value="" class="form-submit" />
  			<input type="reset" value="" class="form-reset"  />
  		</td>
  		<td></td>
  	</tr>
  	</table>
  	<% end %>
  	<!-- end id-form  -->

  	</td>
  	
  </tr>
  
  </table>

  <div class="clear"></div>


  </div>
  <!--  end content-table-inner  -->
  </td>
  <td id="tbl-border-right"></td>
  </tr>
  <tr>
  	<th class="sized bottomleft"></th>
  	<td id="tbl-border-bottom">&nbsp;</td>
  	<th class="sized bottomright"></th>
  </tr>
  </table>
  <div class="clear">&nbsp;</div>

  </div>
  <!--  end content -->
  <div class="clear">&nbsp;</div>
  </div>
  <!--  end content-outer -->